<div class="flex flex-column p-1">

  <div class="flex justify-content-center mt-5 sm:mb-2 mb-5">
    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_9.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>Coma y muletillas interrogativas</h2>
    <p class="line-height-3">
      En ocasiones al hablar aparecen muletillas al final de los enunciados como: <strong>¿ves?</strong>,
      <strong>¿no?</strong>, <strong>¿cierto?</strong>, <strong>¿verdad?</strong>, <strong>¿eh?</strong>
    </p>

    <p class="line-height-3">
      Cuando se desea escribir un enunciado con este tipo de muletillas, se debe usar la coma
      como predecesora. Por ejemplo:
    </p>

    <p-fieldset legend="Ejemplos de muletillas interrogativas">
      <ul class="m-0 font-italic line-height-3">
        <li>Yo tengo razón<strong class="text-2xl">,</strong> &nbsp;  <strong>¿no?</strong></li>
        <li>Sacaste buenas calificaciones<strong class="text-2xl">,</strong> &nbsp; <strong>¿verdad?</strong></li>
      </ul>
    </p-fieldset>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      Real Academia Española y Asociación de Academias de la Lengua Española, Eds.,
      Gramática y ortografía básicas de la lengua española, 1a ed. Madrid: Editorial Planeta, 2019.
    </p>
  </div>
</div>



