$primaryColor: rgb(255, 255, 255) !default;
$primaryLightColor: #ffffff !default;
$primaryLighterColor: #ddd6fe!default;
$primaryLightestColor: rgba(167, 139, 250, .2) !default;
$primaryTextColor: #2b55ca !default;

$highlightBg:rgba(167, 139, 250, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import "../../theme-base/_components";
@import '../_extensions';