@import "primeng/resources/primeng.css";
@import 'material-icons/iconfont/outlined.css';

body{
  margin: 0;
  padding: 0;
}
.light-theme-gradient {
  background-size: 200% 200%;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #de6497,
    #b76f92,
    #00c2ff,
    #00c2ff 114.41%);
  animation: light-theme 10s ease infinite;
}

@-webkit-keyframes light-theme {
  0% { background-position: 0% 50%; }
  10% { background-position: 40% 50%; }
  20% { background-position: 80% 50%; }
  20% { background-position: 50% 50%; }
  40% { background-position: 100% 50%; }
}
@-moz-keyframes light-theme {
  0% { background-position: 0% 50%; }
  10% { background-position: 40% 50%; }
  20% { background-position: 80% 50%; }
  20% { background-position: 50% 50%; }
  40% { background-position: 100% 50%; }
}

// Edge configuration
@keyframes light-theme {
  0% { background-position: 0% 50%; }
  10% { background-position: 40% 50%; }
  20% { background-position: 80% 50%; }
  20% { background-position: 50% 50%; }
  40% { background-position: 100% 50%; }
}





