<div class="flex flex-column p-1">

  <div class="flex justify-content-center mt-5 sm:mb-2 mb-5">

    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_4.TITLE' | translate}}
    </div>
  </div>

  <div
    class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg animate__animated animate__zoomIn animation-duration-1000"
    [style.animation-delay]="0.2 + 's'">
    <h2>Uso de mayúsculas</h2>
    <p class="line-height-3">
      Las mayúsculas desempeñan un papel fundamental en la escritura, sirviendo para dar énfasis,
      distinguir nombres propios y establecer la estructura adecuada de un texto.
      Aquí te presentamos una guía detallada sobre cuándo y cómo utilizarlas correctamente en el idioma español.
    </p>


    <ul class="list-decimal">
      <li class="line-height-4">
        Al principio de cualquier escrito, así como después de de punto y seguido y punto y aparte.
      </li>

      <li class="line-height-4">
        Todos los nombres propios: <strong>R</strong>osa <strong>G</strong>arcía, <strong>P</strong>latón, <strong>G</strong>uatemala, <strong>A</strong>mérica, <strong>E</strong>verest, <strong>L</strong>ima, <strong>A</strong>mazonas
        <ul class="list-disc">
          <li class="line-height-4"> El título de un libro, película, artículo, obra, musical:
            <strong>E</strong>l llano en llamas, <strong>A</strong>marcord, <strong>E</strong>l placer que el teatro nos procura, <strong>L</strong>a victoria Samotracia, <strong>L</strong>as meninas, <strong>L</strong>a novena sinfonía.
          </li>
          <li class="line-height-4"> Los tratamientos y títulos, si están abreviados, así como los nombres de dignidad:
            <strong>Lic.</strong>, <strong>Dr.</strong>, <strong>Sr.</strong>, <strong>Ud.</strong>, <strong>Sumo Pontífice</strong>.
          </li>
          <li class="line-height-4"> Nombres que se refieren a órganos de gobierno, corporaciones y sociedades:
            <strong>C</strong>ongreso de la <strong>U</strong>nión, <strong>T</strong>ratado de <strong>L</strong>ibre <strong>C</strong>omercio, <strong>S</strong>ociedad de <strong>E</strong>scritores <strong>L</strong>atinoamericanos.
          </li>
          <li class="line-height-4"> Los nombres, calificativos y apodos con que se designa a determinadas personas:
            <strong>E</strong>l <strong>C</strong>id <strong>C</strong>ampeador, <strong>A</strong>lfonso el <strong>S</strong>abio, <strong>J</strong>uana la <strong>L</strong>oca.
          </li>
          <li class="line-height-4"> Los sustantivos y adjetivos que componen el nombre de una institución, o de un establecimiento comercial:
            <strong>S</strong>upremo <strong>T</strong>ribunal de <strong>J</strong>usticia, <strong>M</strong>useo de <strong>B</strong>ellas <strong>A</strong>rtes, <strong>I</strong>nstituto <strong>P</strong>olitécnico <strong>N</strong>acional, <strong>B</strong>anco de <strong>M</strong>éxico.
          </li>
          <li class="line-height-4"> Las siglas y abreviaturas que representan el nombre de organizmos, instituciones o países:
            <strong>ONU</strong>, <strong>S</strong>.<strong>A</strong>., <strong>ONG</strong>, <strong>EE</strong>.<strong>U</strong>.
          </li>
          <li class="line-height-4"> El número romano que designa reyes, papas y siglos:
            <strong>P</strong>ío <strong>V</strong>, <strong>F</strong>ernando <strong>III</strong>, siglo <strong>XX</strong>.
          </li>
          <li class="line-height-4"> Épocas, períodos históricos, acontecimientos, celebraciones:
            <strong>E</strong>dad <strong>M</strong>edia, <strong>R</strong>evolución <strong>M</strong>exicana, <strong>S</strong>emana <strong>S</strong>anta.
          </li>
        </ul>
      </li>

      <li class="line-height-4">
        Los conjuntos <strong>ch</strong> y <strong>ll</strong>,
        llevan mayúscula sólo en la <strong>C</strong> o <strong>L</strong> iniciales,
        respectivamente: <strong>C</strong>hihuahua, <strong>C</strong>hina, <strong>L</strong>losa, <strong>L</strong>lorente.
      </li>
    </ul>

    <h2>Mayúsculas, ¿Con tilde o sin tilde?</h2>

    <p class="line-height-3">
      En español, las tildes no se pierden cuando escribimos en mayúsculas.
      Por lo tanto, palabras como
      <strong>Á</strong>lvaro, <strong>Á</strong>frica y <strong>O</strong>céano <strong>Í</strong>ndico
      mantienen su acento ortográfico incluso cuando se escriben en letras mayúsculas.
      Esta regla ayuda a preservar la correcta pronunciación y ortografía de las palabras, independientemente de si
      están en minúsculas o mayúsculas.
    </p>

    <h2>Cuando no se usan mayúsculas</h2>

    <p class="line-height-3">
      Los nombres de los días de la semana, de los meses, de las estaciones del año y de las notas musicales,
      se escriben con minúscula, salvo que inicien el párrafo.
    </p>


    <p-divider></p-divider>

    <h3>Referencias</h3>
    <ul class="list-disc font-italic line-height-2">
      <li>RAE, “mayúsculas | Diccionario panhispánico de dudas”, «Diccionario panhispánico de dudas».
        Consultado: el 24 de abril de 2024. [En línea]. Disponible en: https://www.rae.es/dpd/mayúsculas
      </li>
      <li>
        I. Munguía Zataraín, M. E. Munguía Zatarain, y G. Rocha, Gramática lengua española. México, D.F.: Larousse, 2013.
      </li>
    </ul>

  </div>

</div>

