<div class="title xl:text-7xl text-4xl flex justify-content-center">
    {{"ACTIVITIES_LABELS.TITLE" | translate}}
</div>
<div class="grid activity-panel">
    <div class="col-10 col-offset-1">
        <p-card>
            <!--            List of option verbs -->
            <div class="p-2 border-1 surface-border border-round">
                <p class="text-center surface-border border-bottom-1">Opciones de verbos conjugados</p>
                <ul class="list-none flex flex-row p-0 m-0 justify-content-between">
                    <li (onDragStart)="dragStart(subject_and_verb)"
                        *ngFor="let subject_and_verb of availableConjugations"
                        class="p-2 border-round shadow-1"
                        pDraggable>
                        {{subject_and_verb.conjugated_verb}}
                    </li>
                </ul>
            </div>


            <p-table
                    [rows]="play_conjugations_in_present_tense.length"
                    [tableStyle]="{ 'min-width': '4rem' }"
                    [value]="play_conjugations_in_present_tense"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center"> Persona gramatical</th>
                        <th class="text-center"> Verbo conjugado</th>
                        <th class="text-center" *ngIf="isTableFilled()"> Resultado</th>
                    </tr>
                </ng-template>
                <ng-template let-index="rowIndex" let-subject_and_verb pTemplate="body">
                    <tr>
                        <td class="text-center">{{subject_and_verb.subject}}</td>
                        <td class="text-center">
                            <div (onDrop)="drop(index)"
                                 class="p-4 border-1 surface-border border-round "
                                 pDroppable>
                                <div *ngIf="draggedConjugation && draggedConjugationByRow[index]">
                                    <div>
                                        {{draggedConjugationByRow[index].conjugated_verb}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" *ngIf="isTableFilled()">
                            <div>
                                {{draggedConjugationByRow[index].evaluation}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </p-card>

    </div>
</div>
