<div class="flex flex-column p-1">

  <div class="flex justify-content-center mt-5 sm:mb-2 mb-5">

    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_7.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>Verbos relacionados a los fenómenos de la naturaleza</h2>

    <div class="flex justify-content-start flex-wrap mt-2">
      <div class="sm:h-28rem sm:w-28rem w-full mr-3">
        <img
          src="./assets/blogs-images/Naturaleza%20-%20220x220.svg"
          alt="Verbos relacionados a los fenómenos de la naturaleza"
          class="w-full h-full border-round-3xl"
        >
      </div>
      <div>
        <p class="line-height-3">
          Algunos verbos relacionados a los fenómenos de la naturaleza son:
        </p>

        <ul class="line-height-4">
          <li>amanecer,</li>
          <li>anochecer,</li>
          <li>granizar,</li>
          <li>nevar,</li>
          <li>granizar.</li>
        </ul>

        <p class="line-height-3">
          Todos ellos se conjugan en tercera persona del singular, por ejemplo:
        </p>

        <ul class="line-height-4">
          <li>el amanecer,</li>
          <li>el anochecer,</li>
          <li>la lluvia,</li>
          <li>la nevada,</li>
          <li>el granizo.</li>
        </ul>

      </div>

    </div>
    <p class="line-height-3">
      Sin embargo existen excepciones, como:
    </p>

    <ul class="line-height-4">
      <li>Le llueven ofertas laborales.</li>
      <li>¿Cómo amaneciste esta mañana?</li>
    </ul>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      Real Academia Española y Asociación de Academias de la Lengua Española, Eds.,
      Gramática y ortografía básicas de la lengua española, 1a ed. Madrid: Editorial Planeta, 2019.
    </p>

  </div>

</div>

