<div class="flex flex-column p-1">

  <div class="flex justify-content-center mt-5 sm:mb-2 mb-5">

    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_7.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>Verbos relacionados a los fenómenos de la naturaleza</h2>
    <p class="line-height-3">
      Algunos verbos relacionados a los fenómenos de la naturaleza son:
    </p>


    <ul class="line-height-4">
      <li>Amanecer</li>
      <li>Anochecer</li>
      <li>Granizar</li>
      <li>Nevar</li>
      <li>Granizar</li>
    </ul>

    <p class="line-height-3">
      Todos ellos se conjugan en tercera persona del singular.
    </p>

    <ul class="line-height-4">
      <li>El amanecer</li>
      <li>El anochecer</li>
      <li>La lluvia</li>
      <li>La nevada</li>
      <li>El granizo</li>
    </ul>

    <p class="line-height-3">
      Sin embargo existen excepciones, por ejemplo:
    </p>

    <ul class="line-height-4">
      <li>Le llueven ofertas laborales</li>
      <li>¿Cómo amaneciste esta mañana?</li>
    </ul>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      Real Academia Española y Asociación de Academias de la Lengua Española, Eds.,
      Gramática y ortografía básicas de la lengua española, 1a ed. Madrid: Editorial Planeta, 2019.
    </p>

  </div>

</div>

