:host ::ng-deep {
  .material-icons {
    font-size: 1.2rem;
  }

  .text-options{
    .p-button{
      padding: 0.65rem 0.5rem !important;
    }
  }
}

:host ::ng-deep .ql-toolbar.ql-snow{
  display: none;
}

:host ::ng-deep .ql-editor{
  font-size: 20px;
  color: var(--text-color);
}

:host-context(.light-theme-gradient) {
  :host ::ng-deep .p-card, .title {
    text-shadow: 2px 2px 7px #868181;
  }
}
