<div class="flex flex-column p-3">

  <div class="title flex justify-content-center sm:text-7xl text-5xl">
    {{ 'OPTIONS.ANALIZE_TEXT' | translate }}
  </div>

  <div class="grid sm:mt-7 mt-3">

    <div class="md:col-7 sm:px-5 px-0 col-12">
      <form [formGroup]="analyzeTextForm">
        <p-card styleClass="sm:px-5 sm:pt-5 sm:pb-2 p-1">

          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between p-2 surface-0 border-round-2xl">
              <div class="text-options">

                <p-button (click)="toggleFormat('bold')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_bold</i>
                </p-button>

                <p-button (click)="toggleFormat('italic')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_italic</i>
                </p-button>

                <p-button (click)="toggleFormat('underline')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_underlined</i>
                </p-button>

                <p-button (click)="updateFontSize(1)" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">text_increase</i>
                </p-button>

                <p-button (click)="updateFontSize(-1)" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">text_decrease</i>
                </p-button>
              </div>
              <div class="text-options">
                <p-button (click)="alignText('')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_align_left</i>
                </p-button>

                <p-button (click)="alignText('center')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_align_center</i>
                </p-button>

                <p-button (click)="alignText('right')" [rounded]="true" [text]="true" size="small">
                  <i class="material-icons">format_align_right</i>
                </p-button>
              </div>
            </div>


            <p-editor
              #editor
              (keydown)="rejectSuggestion($event)"
              (keyup.space)="suggestNextWord()"
              (keyup.tab)="acceptSuggestion()"
              formControlName="text"
              spellcheck="false"
              styleClass="h-12rem">
            </p-editor>

          </div>

          <ng-template pTemplate="footer">
            <div class="flex justify-content-end gap-3 flex-wrap">


              <div class="flex gap-2">
                <p-inputSwitch formControlName="suggesterChecked">
                </p-inputSwitch>
                <b class="text-sm p-2 sugerencia-palabra">Sugerir palabras</b>
              </div>


              <p-button (click)="analyzeText()" class="ml-3" severity="secondary">
                <b>Analizar</b>
                <i class="material-icons ml-3">send</i>

              </p-button>
            </div>
          </ng-template>

        </p-card>
      </form>
    </div>

    <div class="md:col-5 col-12 ">
      <p-card styleClass="sm:px-5 px-1 pb-1">
        <div *ngIf="!isAnalyzeButtonClicked; else anaylyzedText">
          <h1 class="title md:text-6xl">Instrucciones</h1>
          <p class="md:text-4xl text-2xl sugerencia-palabra">
            En el espacio blanco de la izquierda escribe un texto,
            después da clic en el botón <strong>Analizar</strong> para analizar el texto
          </p>
        </div>

        <ng-template #anaylyzedText>
          <h1 class="title md:text-4xl">Resultados de análisis</h1>
          <div class="flex flex-column">
            <div class="flex flex-column">
              <h2>Análisis ortográfico</h2>
              <div *ngIf="!hasSpellCheckerResponse; else SpellCheckerResponse">
                <p-skeleton height="1rem" styleClass="mb-2" width="10rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="15rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="14rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="16rem"></p-skeleton>
              </div>
              <ng-template #SpellCheckerResponse>

                <div *ngIf="spellChecker.length > 0; else noSpellCheckerResponse">
                  <div *ngFor="let sentence of spellChecker">
                    <div class="mb-3">
                      <p><strong>Oración original:</strong> {{ sentence.original_sentence }}</p>
                      <ul *ngFor="let correction of sentence.possible_corrections" class="list-none line-height-4">
                        <li><strong>Palabra:</strong> {{correction.token}} </li>
                        <li>
                          <strong>Posibles correcciones:</strong>
                          <span *ngFor="let correction of correction.corrections; let last = last">
                          {{correction.word}}<span *ngIf="!last">, </span>
                         </span>
                        </li>
                      </ul>
                      <p-divider></p-divider>
                    </div>
                  </div>

                </div>
                <ng-template #noSpellCheckerResponse>
                  <p>{{ 'NO_ORTHOGRAPHIC_ERRORS' | translate}}</p>
                </ng-template>

              </ng-template>
            </div>
            <div class="flex flex-column">
              <h2>Análisis gramatical</h2>
              <div *ngIf="!hasGrammaticalAnalyzerResponse; else GrammaticalAnalyzerResponse">
                <p-skeleton height="1rem" styleClass="mb-2" width="10rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="15rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="14rem"></p-skeleton>
                <p-skeleton height="1rem" styleClass="mb-2" width="16rem"></p-skeleton>
              </div>

              <ng-template #GrammaticalAnalyzerResponse>
                <div *ngIf="grammaticalAnalyzer.length > 0; else noGrammaticalAnalyzerResponse">
                  <div *ngFor="let sentence of grammaticalAnalyzer">
                    <div class="mb-3">
                      <p><strong>Oración original: </strong> {{ sentence.original_single_sentence}}</p>
                      <p><strong>Explicación: </strong> {{sentence.explanation}}</p>
                      <p-divider></p-divider>
                    </div>


                  </div>
                </div>
                <ng-template #noGrammaticalAnalyzerResponse>
                  <p>{{ 'NO_GRAMMAR_ERRORS' | translate}}</p>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </ng-template>

      </p-card>
    </div>


  </div>

</div>

<p-dialog
  [(visible)]="visible"
  [maximizable]="true"
  [modal]="true"
  [style]="{ width: '50rem' }"
  header="Terminos y condiciones"
  styleClass="surface-0"
>

  <p>
    Bienvenido/a a nuestra aplicación web diseñada para apoyar el aprendizaje del español mexicano en el nivel A1
    del Marco Común Europeo de Referencia para las Lenguas. Antes de comenzar a utilizar nuestra herramienta,
    te solicitamos leer y aceptar los siguientes términos y condiciones que rigen su uso.
    Al acceder y usar nuestra aplicación, aceptas cumplir con estos términos y condiciones.
  </p>

  <h3>Políticas</h3>
  <ul class="list-decimal">
    <li class="line-height-4">
      <b>Términos y Condiciones</b>
      <p>
        Todos los usuarios deben leer detenidamente y aceptar los términos y condiciones de uso del proyecto para
        poder utilizar la herramienta de aprendizaje del español mexicano.
      </p>
    </li>
    <li class="line-height-4">
      <b>Información de Identificación Personal (PII)</b>
      <p>
        En ningún caso se recopilará ni almacenará información personal de identificación de los usuarios.
      </p>
    </li>
    <li class="line-height-4">
      <b>Uso No Comercial</b>
      <p>
        La herramienta está destinada exclusivamente para fines educativos y no comerciales. Queda estrictamente
        prohibido su uso con propósitos comerciales o publicitarios.
      </p>
    </li>
  </ul>

  <h3>Procesamiento de Textos</h3>
  <ul class="list-decimal">
    <li class="line-height-4">
      <b>Competencia en Español Nivel A1</b>
      <p>
        Nuestro sistema ha sido diseñado para incorporar estructuras gramaticales conformes al nivel A1 del Marco
        Común Europeo de Referencia para las Lenguas, facilitando el aprendizaje progresivo del español.
      </p>
    </li>
    <li class="line-height-4">
      <b>Textos del Corpus</b>
      <p>
        Los textos utilizados para la generación del Corpus corresponden a cuentos infantiles, seleccionados
        específicamente para apoyar el aprendizaje del idioma.
      </p>
    </li>
    <li class="line-height-4">
      <b>Fuentes Confiables</b>
      <p>
        Los textos seleccionados para el Corpus y las páginas informativas han sido obtenidos de fuentes confiables
        y verificadas para garantizar la calidad y precisión del contenido ofrecido.
      </p>
    </li>
    <li class="line-height-4">
      <b>Restricción de Contenido Inapropiado</b>
      <p>
        No está permitido ingresar ni visualizar textos que contengan contenido ofensivo, homofóbico, racista,
        discriminatorio, violento o inapropiado de cualquier índole. Nos reservamos el derecho de eliminar dicho
        contenido y tomar medidas correspondientes.
      </p>
    </li>
    <li class="line-height-4">
      <b>Protección de Datos Sensibles</b>
      <p>
        Por motivos de seguridad y protección de la privacidad, los usuarios no deben ingresar ni compartir
        información personal sensible, como números de seguro social, números de tarjeta de crédito u otros datos
        confidenciales en nuestra herramienta.
      </p>
    </li>
  </ul>

  <p>
    Al utilizar nuestra aplicación web, <strong>aceptas cumplir con estos términos y condiciones</strong>. Si no estás
    de acuerdo
    con alguna de estas políticas, te rogamos no utilizar nuestra herramienta.
  </p>

  <b class="font-italic">
    Gracias por ser parte de nuestra comunidad de aprendizaje del español mexicano. ¡Disfruta tu experiencia de
    aprendizaje!
  </b>
  <ng-template pTemplate="footer">
    <p-button
      (click)="visible = false"
      [text]="true"
      label="Aceptar"
      severity="help">
      <i class="material-icons">done</i>
    </p-button>
  </ng-template>

</p-dialog>

