<div class="flex flex-column p-1">

  <div class="flex justify-content-center w-full">
    <!--<img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="">-->
  </div>
  <div class="flex justify-content-center mt-5">

    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_5.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>"Halla", "haya", "aya", "allá" ¿Cuál es la diferencia?</h2>
    <p class="line-height-3">
      La escritura de las palabras <strong>"haya"</strong>, <strong>"halla"</strong>, <strong>"aya"</strong> y
      <strong>"allá"</strong> puede generar confusión debido a su pronunciación
      similar en muchos casos. Sin embargo, es esencial entender sus usos específicos para una comunicación
      precisa. A continuación, te explicamos cómo distinguirlas correctamente:
    </p>

    <h3>Haya</h3>

    <h4>Como verbo:</h4>

    <p class="line-height-3">
      Forma del presente de subjuntivo del verbo "haber", utilizada en oraciones impersonales o para formar el
      pretérito perfecto del subjuntivo.
    </p>
    <p-fieldset legend="Ejemplos de 'haya' como verbo">
      <p class="m-0 font-italic line-height-4">
        Espero que Luis <strong>haya</strong> aprobado.
      </p>
      <p class="m-0 font-italic line-height-4">
        Quizá <strong>haya</strong> algo que podamos hacer.
      </p>
    </p-fieldset>

    <h4>Como sustantivo:</h4>
    <p class="line-height-3">
      Árbol de ciertas especies.
    </p>
    <p-fieldset legend="Ejemplos de 'haya' como sustantivo">
      <p class="m-0 font-italic line-height-4">
        Hay que podar el <strong>haya</strong> del jardín.
      </p>
      <p class="m-0 font-italic line-height-4">
        Se sentó a la sombra de una frondosa <strong>haya</strong>.
      </p>
    </p-fieldset>

    <h3>Halla</h3>
    <p class="line-height-3">
      Forma del presente de indicativo o del imperativo del verbo <strong>"hallar(se)"</strong>,
      que significa <strong>'encontrar(se)'</strong>.
    </p>
    <p-fieldset legend="Ejemplos de 'halla'">
      <p class="m-0 font-italic line-height-4">
        No sé cómo lo hace, pero <strong>halla</strong> siempre una excusa perfecta.
      </p>
      <p class="m-0 font-italic line-height-4">
        La sede de la organización se <strong>halla</strong> en París.
      </p>
    </p-fieldset>

    <h3>Aya</h3>
    <p class="line-height-3">
      Persona encargada del cuidado y educación de niños o jóvenes en una casa.
    </p>
    <p-fieldset legend="Ejemplos de 'aya'">
      <p class="m-0 font-italic line-height-4">
        La vieja <strong>aya</strong> seguía llevando a los niños al parque.
      </p>
      <p class="m-0 font-italic line-height-4">
        Aún se acordaba del <strong>aya</strong> sabia de su infancia.
      </p>
    </p-fieldset>

    <h3>Allá</h3>
    <p class="line-height-3">
      Indica un lugar o posición lejana en relación con el hablante.
    </p>
    <p-fieldset legend="Ejemplos de 'allá'">
      <p class="m-0 font-italic line-height-4">
        Esa tienda está <strong>allá</strong>, al final de la calle.
      </p>
      <p class="m-0 font-italic line-height-4">
        ¿Viste el edificio grande allá enfrente?
      </p>
    </p-fieldset>

    <p class="line-height-3">
      Esta diferenciación te ayudará a emplear cada palabra correctamente según el contexto en el que se utilice.
    </p>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-3 font-italic">
      “«Halla» / «haya» / «aya»”, Real Academia Española. Consultado: el 26 de abril de 2024. [En línea].
      Disponible en: https://www.rae.es/espanol-al-dia/halla-haya-aya-0
    </p>
  </div>

</div>

