<div class="flex flex-column p-1">

  <div class="flex justify-content-center w-full">
    <!--<img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="">-->
  </div>
  <div class="flex justify-content-center mt-5">

    <div class="title text-7xl">
      {{ 'BLOG_LABELS.BLOG_2.TITLE' | translate}}
    </div>
  </div>

  <div
    pAnimateOnScroll
    enterClass="animate__animated animate__zoomIn"
    [style.animation-delay]="0.2 + 's'"
    class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg animation-duration-1000">
    <h2>¿Qué es el punto?</h2>
    <p class="line-height-3">
      El punto es un signo ortográfico (<strong>.</strong>) utilizado principalmente como signo de puntuación para indicar el final de
      un enunciado, párrafo o texto. Además, tiene otras funciones lingüísticas y no lingüísticas.
    </p>

    <p class="line-height-3">
      Como signo de puntuación, el punto se divide en varias categorías:
    </p>

    <p class="line-height-3">
      El punto se coloca sin separación de la palabra precedente y con un espacio antes de la palabra o signo que
      lo sigue. Después del punto, la palabra siguiente siempre se escribe con inicial mayúscula.
    </p>

    <ul>
      <li class="line-height-4"><strong>Punto y seguido:</strong>  separa enunciados dentro del mismo párrafo.</li>
      <li class="line-height-4"><strong>Punto y aparte:</strong>  indica el final de un párrafo y el inicio de uno nuevo.</li>
      <li class="line-height-4"><strong>Punto final:</strong>  marca el final de un texto o división mayor del mismo.</li>
    </ul>

    <h2>Usos del punto</h2>

    <p class="line-height-3">
      Hay otros momentos en los que se puede utilizar el punto, como en las siguientes situaciones:
    </p>

    <ul>
      <li class="line-height-4">
        Se usa detrás de abreviaturas y para separar las sílabas en transcripciones fonéticas.
        <ul class="line-height-3">
          <li class="line-height-3">Sra<strong>.</strong>, pág<strong>.</strong>, etc<strong>.</strong></li>
          <li class="line-height-3 font-italic">/at<strong>.</strong>lán<strong>.</strong>ti<strong>.</strong>ko/
            o
            /a<strong>.</strong>tlán<strong>.</strong>ti<strong>.</strong>ko/
          </li>
        </ul>
      </li>
      <li class="line-height-4">
        En usos no lingüísticos, separa las horas de los minutos y las expresiones numéricas de fechas.
        <ul class="line-height-3">
          <li class="line-height-3">8<strong>.</strong>30 h, 12<strong>.</strong>00 h</li>
          <li class="line-height-3">21<strong>.</strong>6<strong>.</strong>2000</li>
        </ul>
      </li>
      <li class="line-height-4">
        Indica multiplicación en expresiones matemáticas y la parte decimal en números.
        <ul class="line-height-3">
          <li class="line-height-3">5 <strong>·</strong> 4 = 20, 2 <strong>·</strong> (x + y) = 30</li>
          <li class="line-height-3">π = 3<strong>.</strong>1416</li>
        </ul>
      </li>
    </ul>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      RAE, “punto | Diccionario panhispánico de dudas”, «Diccionario panhispánico de dudas». Consultado: el 22 de
      abril de 2024. [En línea]. Disponible en: https://www.rae.es/dpd/punto
    </p>

  </div>

</div>
