$primaryColor: #0E8CD9 !default;
$primaryLightColor: #E2E8F0 !default;
$primaryDarkColor: #3B82F6 !default;
$primaryDarkerColor: #1D4ED8 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';