<p-menubar
  [model]="[
    {
      label: 'OPTIONS.ABOUT_US' | translate
    },
    {
      label: 'OPTIONS.ACTIVITIES' | translate
    },
    {
      label: 'OPTIONS.BLOG' | translate
    },
    {
      label: 'OPTIONS.ANALIZE_TEXT' | translate
    },
    {
      label: 'OPTIONS.ANALIZE_TEXT' | translate
    },
    {
      label: 'OPTIONS.ANALIZE_TEXT' | translate
    }
  ]"
>
  <p-button [rounded]="true" [outlined]="true" (click)="toggleLanguage()" >
    <span class="material-icons-outlined" >translate</span>
  </p-button>
  <p-button [rounded]="true" [outlined]="true" (click)="toggleTheme()" >
    <span *ngIf="actualTheme=='dark'" class="material-icons-outlined" >wb_sunny</span>
    <span *ngIf="actualTheme=='light'" class="material-icons-outlined" >bedtime</span>
  </p-button>
</p-menubar>

