<p-toolbar>

  <div class="p-toolbar-group-start ml-5">
    <div class="flex justify-content-between flex-wrap">
      <picture>
        <source media="(min-width:800px)" srcset="assets/home-images/Logo-100px.png" >
        <source media="(min-width:10px)" srcset="assets/home-images/Logo-50px.png">
        <img
          alt="logo"
          class="cursor-pointer"
          [routerLink]="['/home']"

        />
      </picture>


      <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header">
          <h2>
          {{'MENU' | translate}}
          </h2>
        </ng-template>
        <ng-template pTemplate="content">
          <hr>
          <ul class="list-none p-0 m-0 overflow-hidden">
            <li>
              <a class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                [routerLink]="['/about']"
              >
                <i class="material-icons">group</i>
                <span class="ml-3">{{ 'OPTIONS.ABOUT_US' | translate }}</span>

              </a>
            </li>
            <li>
              <a
                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                [routerLink]="['/activities']"
              >
                <i class="material-icons">extension</i>
                <span class="ml-3">{{ 'OPTIONS.ACTIVITIES' | translate }}</span>
              </a>
            </li>
            <li>
              <a
                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                [routerLink]="['/blog']"
              >
                <i class="material-icons">sticky_note_2</i>
                <span class="ml-3">{{ 'OPTIONS.BLOG' | translate }}</span>
              </a>
            </li>
            <li>
              <a class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="material-icons">rate_review</i>
                <span class="ml-3">{{ 'OPTIONS.ANALIZE_TEXT' | translate }}</span>
              </a>
            </li>
            <li>
              <a class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="material-icons">rate_review</i>
                <span class="ml-3">{{ 'OPTIONS.TERMS_AND_CONDITIONS' | translate }}</span>
              </a>
            </li>
          </ul>

        </ng-template>
        <ng-template pTemplate="footer" >
            <span class="text-color-secondary"> {{ 'PROJECT_NUMBER' | translate }} </span>
        </ng-template>
      </p-sidebar>

      <p-button
        [rounded]="true"
        [outlined]="true"
        (click)="sidebarVisible = true"
        styleClass="mx-2"
        class="menu-button"
      >
        <i class="material-icons-outlined text-3xl" >menu</i>
      </p-button>
    </div>
  </div>

  <div class="p-toolbar-group-center cel:hidden">
    <p-button
      [rounded]="true"
      [outlined]="true"
      size="large"
      class="marginOptions"
      [routerLink]="['/about']"
    >
      {{ 'OPTIONS.ABOUT_US' | translate }}
    </p-button>
    <p-button
      [rounded]="true"
      [outlined]="true"
      size="large"
      class="marginOptions"
      [routerLink]="['/activities']"
    >
      {{ 'OPTIONS.ACTIVITIES' | translate }}
    </p-button>
    <p-button
      [rounded]="true"
      [outlined]="true"
      size="large"
      class="marginOptions"
      [routerLink]="['/blog']"
    >
      {{ 'OPTIONS.BLOG' | translate }}
    </p-button>
    <p-button
      [rounded]="true"
      [outlined]="true"
      size="large"
      class="marginOptions"
    >
      {{ 'OPTIONS.ANALIZE_TEXT' | translate }}
    </p-button>
<!--    <p-button-->
<!--      [rounded]="true"-->
<!--      [outlined]="true"-->
<!--      size="large"-->
<!--      class="marginOptions"-->
<!--    >-->
<!--      {{ 'OPTIONS.TERMS_AND_CONDITIONS' | translate }}-->
<!--    </p-button>-->
    <div class="p-toolbar-group-end">
      <p-button   [rounded]="true" [outlined]="true" (click)="toggleLanguage()" size="large" >
        <i class="material-icons-outlined text-3xl" >translate</i>
      </p-button>
      <p-button   [rounded]="true" [outlined]="true"  (click)="toggleTheme()" size="large">
        <i *ngIf="actualTheme=='dark'" class="material-icons-outlined text-3xl" >wb_sunny</i>
        <i *ngIf="actualTheme=='light'" class="material-icons-outlined text-3xl" >bedtime</i>
      </p-button>
    </div>
  </div>



</p-toolbar>

