<ng-template [ngIf]="areInstructionsBeingDisplayed === true">
    <p-card >
        These are the instructions

        <ng-template pTemplate="content">
            <p-button label="Comenzar" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }" (click)="toggleShowInstructions()"></p-button>
        </ng-template>
    </p-card>

</ng-template>


<ng-template [ngIf]="areInstructionsBeingDisplayed === false">
    <!--  <p-card class="text-center m-6" >-->
    <!--    Se mostrarán dos imagenes, da click en el nombre que describe la profesión u ocupación que se muestra en la imagen.-->
    <!--  </p-card>-->

    <div class="m-2">
        <p-card class="text-center" styleClass="cards" [@fadeInOut]="animationState" (@fadeInOut.done)="animationDone($event)">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="currentCardData.img_url" />
            </ng-template>
            <ng-template pTemplate="content">
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[0] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[1] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[2] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>

    </div>

</ng-template>



