<ng-template [ngIf]="areInstructionsBeingDisplayed">
    <p-card >
        <div class="m-3 text-center instructions" >
            <p >
                {{ 'ACTIVITIES_LABELS.CARDS_GAME.INSTRUCTIONS_DESCRIPTION' | translate }}
            </p>
            <p>
                {{ 'ACTIVITIES_LABELS.CARDS_GAME.INSTRUCTIONS_TO_START' | translate }}
            </p>

            <div class="flex flex-wrap  justify-content-center">
            <p class="vertical-align-middle">
                <i class="material-icons-outlined m-2">warning_amber</i>
                {{ 'ACTIVITIES_LABELS.CARDS_GAME.INSTRUCTIONS_WARNING' | translate }}
            </p>
            </div>
        </div>

        <ng-template pTemplate="content" >
            <div class="text-center">
            <p-button  [label]="'ACTIVITIES_LABELS.CARDS_GAME.START_GAME' | translate" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }" (click)="toggleShowInstructions()"></p-button>
            </div>
        </ng-template>
    </p-card>

</ng-template>


<ng-template [ngIf]="!areInstructionsBeingDisplayed">
    <!--  <p-card class="text-center m-6" >-->
    <!--    Se mostrarán dos imagenes, da click en el nombre que describe la profesión u ocupación que se muestra en la imagen.-->
    <!--  </p-card>-->

    <div class="m-2">
        <p-card class="text-center" styleClass="cards" [@fadeInOut]="animationState" (@fadeInOut.done)="animationDone($event)">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="currentCardData.img_url" />
            </ng-template>
            <ng-template pTemplate="content">
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[0] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[1] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                <p-button [label]="currentCardData.buttonValues ? currentCardData.buttonValues[2] : 'default'" (click)="changeCardData()" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>

    </div>

</ng-template>



