<div class="flex flex-column p-1">

  <div class="flex justify-content-center w-full">
    <!--<img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="">-->
  </div>
  <div class="flex justify-content-center mt-5">

    <div class="title text-7xl">
      {{ 'BLOG_LABELS.BLOG_3.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>¿Qué es la coma?</h2>
    <p class="line-height-3">
      La coma (<strong>,</strong>) es un signo de puntuación que se usa para separar partes de una oración o grupos de palabras.
      También se emplea para separar los números cuando se escriben con cifras. Se coloca justo después de la
      palabra o signo anterior, y se deja un espacio antes de la siguiente palabra o signo.
    </p>

    <p class="line-height-3">
      Aunque su presencia no siempre indica una pausa en la lectura, puede ser necesaria para mostrar la estructura
      de la oración.
    </p>

    <p class="line-height-3">
      Su uso puede depender del gusto del escritor, la longitud de la oración o el contexto, pero hay reglas básicas
      que se deben seguir para usarla correctamente.
    </p>

    <p class="line-height-3">
      La coma se usa para diferentes propósitos:
    </p>

    <ul class="list-decimal">
      <li class="line-height-4">
        La coma se usa para separar partes de una oración, como incisos o grupos de palabras. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4"> "Juan<strong>,</strong> el carpintero<strong>,</strong> está construyendo una mesa."</li>
          <li class="line-height-4">"Nosotros<strong>,</strong> los estudiantes<strong>,</strong> vamos a participar en el concurso."</li>
        </ul>
      </li>

      <li class="line-height-4">
        Se utiliza para delimitar aposiciones explicativas, adjetivos explicativos pospuestos, construcciones
        absolutas, expresiones o precisiones. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4">"Mi hermana<strong>,</strong> Laura<strong>,</strong> es una gran cocinera."</li>
          <li class="line-height-4">"El perro<strong>,</strong> cansado después del paseo<strong>,</strong> se durmió en el sofá."</li>
        </ul>
      </li>

      <li class="line-height-4">
        La coma separa elementos de una enumeración. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4"> "Compré manzanas<strong>,</strong> peras<strong>,</strong> plátanos y naranjas."</li>
          <li class="line-height-4">"Los colores primarios son rojo<strong>,</strong> azul<strong>,</strong> amarillo y verde." </li>
        </ul>
      </li>

      <li class="line-height-4">
        Se usa para separar miembros equivalentes dentro de un mismo enunciado. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4"> "Ella baila<strong>,</strong> él canta y nosotros tocamos la guitarra."</li>
        </ul>
      </li>

      <li class="line-height-4">
        Se utiliza para delimitar oraciones subordinadas. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4">"Si llueve<strong>,</strong> nos quedaremos en casa."</li>
          <li class="line-height-4"> "Aunque hace frío<strong>,</strong> saldremos a pasear."</li>
        </ul>
      </li>

      <li class="line-height-4">
        La coma marca una elisión verbal. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4">"Él lleva una camisa azul; ella<strong>,</strong> una blanca."</li>
        </ul>
      </li>

      <li class="line-height-4">
        Se usa para distinguir entre distintos significados de una misma secuencia de palabras. Por ejemplo:
        <ul class="list-disc">
          <li class="line-height-4">"Juan dijo que estaba listo<strong>,</strong> como le indicaron."</li>
          <li class="line-height-4">"Juan dijo que estaba listo como le indicaron."</li>
        </ul>
      </li>

      <li class="line-height-4">
        En otros contextos, como en la datación de cartas y documentos, en direcciones, en la separación de
        nombres de colecciones, y en la inversión del orden en listas alfabéticas:
        <ul class="list-disc">
          <li class="line-height-4">"Madrid<strong>,</strong> 22 de abril de 2024."</li>
          <li class="line-height-4">"Calle Mayor<strong>,</strong> 123<strong>,</strong> Barcelona."</li>
          <li class="line-height-4">"Biblioteca de Autores Españoles<strong>,</strong> volumen 24."</li>
          <li class="line-height-4">"García Márquez<strong>,</strong> Gabriel: Cien años de soledad."</li>
        </ul>
      </li>


    </ul>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      <!--TODO: Agregar referencias-->
    </p>

  </div>

</div>
