<div class="grid">
  <div class="md:col-6 cel:col-12">
    <p-card id="analizerTextCard" styleClass="h-full card1">

      <div class="title md:text-7xl cel:text-4xl">
        {{ "OPTIONS.ANALIZE_TEXT" | translate }}
      </div>

      <div class="subtitle md:text-4xl cel:text-xl mt-2">
        {{ "ANALIZE_TEXT_LABELS.HOME_LABEL" | translate }}
      </div>

      <div class="overflow-hidden mt-6">
        <div
          class="bg-contain bg-center bg-no-repeat analizerText w-full"
          style="background-image: url('assets/home-images/AnalizarTextos2.svg');"
        ></div>
      </div>

    </p-card>
  </div>

  <div class="md:col-6 cel:col-12">
    <div class="grid">
      <div class="col-12">
        <p-card id="blogsCard" styleClass="h-full card2"  [routerLink]="['/blog']">
          <div class="grid">

            <div class="cel:col-12 md:col-6">

              <div class="title md:text-7xl cel:text-4xl">
                {{ "OPTIONS.BLOG" | translate }}
              </div>

              <div class="subtitle md:text-4xl cel:text-xl mt-2">
                {{ "BLOG_LABELS.HOME_LABEL" | translate }}
              </div>
            </div>

            <div class="cel:col-12 md:col-6">

              <div class="overflow-hidden">
                <div
                  class="bg-contain bg-center bg-no-repeat blogs w-full"
                  style="background-image: url('assets/home-images/Blog-Igu.svg');"
                ></div>
              </div>

            </div>

          </div>

        </p-card>

      </div>

    </div>

    <div class="grid">
      <div class="col-12">
        <p-card id="activitiesCard" styleClass="h-full card3">
          <div class="grid">

            <div class=" cel:col-12 md:col-6 z-5">
              <div class="flex align-items-start">
                <div class=" title md:text-7xl cel:text-4xl">

                  {{ "OPTIONS.ACTIVITIES" | translate }}
                </div>
              </div>

              <div class="subtitle md:text-4xl cel:text-xl mt-2">
                {{ "ACTIVITIES_LABELS.HOME_LABEL" | translate }}
              </div>
            </div>

            <div class="cel:col-12 md:col-6">

              <div class="overflow-hidden">
                <div
                  class="bg-contain bg-center bg-no-repeat activities w-full"
                  style="background-image: url('assets/home-images/igu-actividades.svg');"
                ></div>
              </div>

            </div>
          </div>

        </p-card>
      </div>
    </div>
  </div>
</div>
