<div class="grid">
  <div class="md:col-6 sm:col-12">
    <p-card styleClass="h-full">
      <div class="grid">
        <div class="sm:col-6 md:col-12">
          <div class="title md:text-7xl cel:text-4xl">
            {{ "OPTIONS.ANALIZE_TEXT" | translate }}
          </div>
        </div>

        <div class="sm:col-6 md:col-12">
          <div class="subtitle md:text-4xl cel:text-xl mt-2">
            {{ "ANALIZE_TEXT_LABELS.HOME_LABEL" | translate }}
          </div>
          <div class="overflow-hidden mt-6">
            <div
              class="bg-contain bg-center bg-no-repeat analizerText w-full"
              style="background-image: url('assets/home-images/AnalizarTextos2.svg');"
            ></div>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <div class="md:col-6 sm:col-12">
    <div class="grid">
      <div class="col-12">
        <p-card styleClass="h-full">

          <div class="title md:text-7xl cel:text-4xl">
            {{ "OPTIONS.BLOG" | translate }}
          </div>
          <div class="subtitle md:text-4xl cel:text-xl mt-2">
            {{ "BLOG_LABELS.HOME_LABEL" | translate }}
          </div>
        </p-card>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <p-card styleClass="h-full">
          <div class="title md:text-7xl cel:text-4xl">
            {{ "OPTIONS.ACTIVITIES" | translate }}
          </div>
          <div class="subtitle md:text-4xl cel:text-xl mt-2">
            {{ "ACTIVITIES_LABELS.HOME_LABEL" | translate }}
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
