:host ::ng-deep .p-card {
  $cardHeight1: calc(100vh - 8.5rem);
  padding: 1.5rem;

  &.card-1 {
    height: $cardHeight1;

    @media screen and (max-width: 576px) {
      $cardHeight1: calc(100vh - 200px);
      height: $cardHeight1;
    }

    .responsive-image-analizer {
      max-width: 100%;
      height: calc($cardHeight1 - 9.5rem);
      object-fit: contain;
    }

  }

  &.card-2 {
    $cardHeight2: calc(($cardHeight1 / 2) + 25px);
    height: $cardHeight2;

    .responsive-image-blog {
      max-width: 100%;
      height: calc($cardHeight2 - 100px);
      object-fit: contain;
    }

    @media screen and (max-width: 576px) {
      height: $cardHeight1;
      .responsive-image-blog {
        max-width: 100%;
        height: calc($cardHeight1 - 9rem);
        object-fit: contain;
      }
    }

  }

  &.card-3 {
    $cardHeight3: calc(($cardHeight1 / 2) + 25px);
    height: $cardHeight3;

    .responsive-image-blog {
      max-width: 100%;
      height: calc($cardHeight3 - 90px);
      object-fit: contain;
    }

    @media screen and (max-width: 576px) {
      height: $cardHeight1;
      .responsive-image-blog {
        max-width: 100%;
        height: calc($cardHeight1 - 9rem);
        object-fit: contain;
      }
    }


  }

  .zoom {
    transition: transform 0.5s; /* Animation */
  }

  &:hover .zoom {
    transform: scale(1.45); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}




