
:host-context(.light-theme-gradient){
  .title{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
  }
}
:host-context(.dark-theme-gradient){
  .title{
    text-shadow: 1px 1px 2px yellow;
    color: #ff6259;
  }
}
