<div class="flex flex-column p-1">

  <div class="flex justify-content-center mt-5 sm:mb-2 mb-5">
    <div class="title md:text-7xl text-6xl">
      {{ 'BLOG_LABELS.BLOG_8.TITLE' | translate}}
    </div>
  </div>

  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <h2>Verbos "ser" o "estar"</h2>
    <p class="line-height-3">
      Los verbos <strong>ser</strong> o <strong>estar</strong> son frecuentemente usados en el español.
      Aunque no aportan un significado son útiles para unir el sujeto y el predicado.
    </p>

    <h3>¿Cuál es la diferencia entre "ser" y "estar"?</h3>

    <p class="line-height-3">
      El verbo <strong>estar</strong> se utiliza para expresar un comportamiento momentáneo de alguien o al resultado
      de un cambio de estado. Por ejemplo:
    </p>

    <p-fieldset legend="Ejemplos de 'estar'">
      <ul class="m-0 font-italic line-height-4">
        <li>La casa <strong>está</strong> impecable</li>
        <li>El profesor <strong>está</strong> en su cúbiculo</li>
      </ul>
    </p-fieldset>

    <p class="line-height-3">
      El uso de <strong>estar</strong> también es frecuente cuando:
    </p>


    <ul class="m-0 font-italic line-height-4">
      <li>Se usan participios como: contento, lleno, descalzo, quieto, vacío...</li>
      <li>Se expresa el resultado de un proceso de cambio. Por ejemplo: <strong>está</strong> cansado</li>
    </ul>

    <p class="line-height-3">
      El verbo <strong>ser</strong> indica propiedades permanentes o habituales. Por ejemplo:
    </p>

    <p-fieldset legend="Ejemplos de 'ser'">
      <ul class="m-0 font-italic line-height-4">
        <li>Ella <strong>es</strong> alta</li>
        <li>Isis <strong>es</strong> ambidiestra</li>
      </ul>
    </p-fieldset>

    <p class="line-height-3">
      El empleo del verbo <strong>ser</strong> es usualmente apropiado cuando:
    </p>

    <ul class="m-0 font-italic line-height-4">
      <li>Se habla de verdad o certeza, por ejemplo cuando se usan palabras como "cierto", "verdadero", "evidente", "notorio"</li>
      <li>Se usan adjetivos como "preocupante", "sombrío", "angustioso", terrorífico, alarmante...</li>
      <li>Se hacen evaluaciones, como cuando se dice "es posible que llueva"</li>
    </ul>

    <h3>Otros usos</h3>

    <p class="line-height-3">
      Los verbos <strong>ser</strong> y <strong>estar</strong> también pueden ser usados como
      verbos auxiliares en la formación de estructuras gramaticales.
    </p>

    <h4>Verbo "ser" y voz pasiva</h4>

    <p class="line-height-3">
      El verbo <strong>ser</strong> se utiliza en la formación de voz pasiva.
    </p>

    <p-fieldset legend="Ejemplos de 'ser' en voz pasiva">
      <ul class="m-0 font-italic line-height-4">
        <li><strong>Es</strong> perseguido por el perro</li>
        <li>La chica <strong>fue</strong> premiada por su excelente proyecto</li>
      </ul>
    </p-fieldset>

    <h4>Verbo "estar" como auxiliar</h4>

    <p class="line-height-3">
      El verbo <strong>estar</strong> puede ser un auxiliar cuando acompaña a un gerundio.
    </p>

    <p-fieldset legend="Ejemplos de 'estar' como auxiliar">
      <ul class="m-0 font-italic line-height-4">
        <li>El perro <strong>está</strong> jugando</li>
        <li>Estábamos <strong>escuchando</strong> música</li>
      </ul>
    </p-fieldset>

    <p-divider></p-divider>

    <h3>Referencias</h3>
    <p class="line-height-4 font-italic">
      Larousse, Gramática Lengua Española. 2013 Real Academia Española y Asociación de Academias de la Lengua Española,
      Eds., Gramática y ortografía básicas de la lengua española, 1a ed. Madrid: Editorial Planeta, 2019.
    </p>
  </div>
</div>


