<div class="flex flex-column">

  <div class="flex justify-content-center w-full">
    <img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="">
  </div>
  <div class="flex justify-content-center mt-5">

    <div class="title text-7xl">
      {{ 'BLOG_LABELS.BLOG_1.TITLE' | translate}}
    </div>
  </div>






  <div class="surface-0 sm:p-8 sm:m-8 p-5 m-0 shadow-5 border-round text-lg ">
    <p class="line-height-3">
      Una oración es un conjunto de palabras que tiene un significado completo. Está formada por dos partes: el
      sujeto, que es de quien se habla, y el predicado, que dice algo sobre el sujeto.
    </p>

    <p class="line-height-3">
      Tomemos como ejemplo la siguiente oración:
    </p>

    <p-fieldset legend="Ejemplo de oración">
      <p class="m-0 font-italic">
        Los astronautas viajan al espacio.
      </p>
    </p-fieldset>

    <p class="line-height-4">
      El sujeto y el predicado de esta oración son:
    </p>

    <ul>
      <li class="line-height-4"><strong>Sujeto:</strong> Los astronautas</li>
      <li class="line-height-4"><strong>Predicado:</strong> viajan al espacio</li>
    </ul>

    <p class="line-height-3">
      Una oración que tiene sujeto y predicado se llama bimembre. También se le llama enunciado.
    </p>

    <p class="line-height-3">
      Por otro lado, hay expresiones que son como oraciones pero no tienen sujeto y predicado claros, como las
      interjecciones, saludos, despedidas y oraciones con verbos meteorológicos. A estas se les llama unimembre.
    </p>

    <p class="line-height-4">
      Una oración que tiene sujeto y predicado se llama bimembre. También se le llama enunciado.
    </p>

    <p class="line-height-4">
      Algunos ejemplos de oraciones unimembres son:
    </p>

    <ul>
      <li class="line-height-4">¡Madre mía!</li>
      <li class="line-height-4">¡Hola!</li>
      <li class="line-height-4">¡Adiós!</li>
      <li class="line-height-4">¡Fuego!</li>
      <li class="line-height-4">Anocheció pronto</li>
      <li class="line-height-4">Llueve intensamente</li>
    </ul>


  </div>


</div>



