<div class="grid">
  <div *ngFor="let option of options; let i = index" class="md:col-6 sm:col-12 col-12">
    <div
      [style.animation-delay]="i * 0.03+ 's'"
      class="animation-duration-1000"
      enterClass="animate__animated animate__fadeInDown"
      pAnimateOnScroll
    >
      <p-card
        styleClass="sm:p-4 sm:h-23rem md:h-30rem cursor-pointer"
      >
        <div [routerLink]="option.link" class="flex justify-content-around">
          <p class="title title xl:text-5xl text-2xl">{{ option.name  | translate }}</p>
          <img [src]="option.image" alt="Image description"
               class="border-round-left-3xl border-round-top-2xl sm:h-10rem md:h-6rem lg:h-10rem xl:h-15rem h-7rem sm:mx-5 mx-1 zoom">

        </div>
        <div class="card-body ">
          <p class="xl:text-4xl md:text-3xl text-xl">{{ option.description | translate }}</p>
        </div>

      </p-card>
    </div>

  </div>
</div>
