<div class="grid">
  <div *ngFor="let option of options; let i = index" class="md:col-6 sm:col-12 col-12">
    <div
      pAnimateOnScroll enterClass="animate__animated animate__fadeInDown"
      class="animation-duration-1000"
      [style.animation-delay]="i * 0.2 + 's'"
    >
      <p-card
        styleClass="sm:p-4 sm:h-23rem md:h-30rem cursor-pointer"
      >
        <div class="flex" [routerLink]="option.link">
          <p class="title title xl:text-5xl text-2xl">{{ option.name  | translate }}</p>
          <div class="overflow-hidden">
            <img  [src]="option.image" alt="Image description" class="sm:h-10rem md:h-6rem lg:h-10rem xl:h-15rem h-7rem sm:mx-5 mx-1 zoom ">
          </div>

        </div>
        <div class="card-body ">
          <p class="xl:text-4xl md:text-3xl text-xl">{{ option.description | translate }}</p>
        </div>

      </p-card>
    </div>

  </div>
</div>
