<div class="flex align-items-center justify-content-center">

  <p-card>
    <ng-template pTemplate="subheader">
      <p class="md:text-xl">{{ 'ACTIVITIES_LABELS.SPELLING_ACTIVITIES.INSTRUCTIONS' | translate }}</p>
    </ng-template>
  </p-card>

</div>

<div class="grid">
  <div
    *ngFor="let question of shuffledQuestions; let i = index"
    class="md:col-6 sm:col-12 col-12"
  >
    <p-toast [life]="1000" key="success" position="top-center"></p-toast>
    <p-toast [life]="1000" key="error" position="top-center"></p-toast>
    <div class="surface-0 card text-center shadow-5">
      <div class="option">
        {{ question[0] }}
      </div>
      <div class="option">
        {{ question[1] }}
      </div>
      <div class="option">
        {{ question[2] }}
      </div>
      <div class="field flex gap-3 justify-content-center">
        <input
          *ngIf="!isCorrect[i]"
          [(ngModel)]="answer[i]"
          placeholder="Escribe tu respuesta"
          pInputText
          type="text"
        />
        <p-button
          *ngIf="!isCorrect[i]"
          (click)="checkAnswer(i)"
          [label]="'ACTIVITIES_LABELS.SPELLING_ACTIVITIES.SEND' | translate"
          pRipple
          styleClass="p-button-secondary m-1"
        >
          <i class="material-icons icon-space">check</i>
        </p-button>
        <i *ngIf="isCorrect[i]" class="material-icons icon-color"
          >check_circle</i
        >
      </div>
    </div>
  </div>
</div>
