

<h1 class="titles text-center ">
<!--  {{ 'ABOUT_US_LABELS.TITLE' | translate }}-->
  <div class="little_title ">Conoce más de</div>
  <span class="big_title title">Literata</span>
</h1>
<div class="description" >
  {{ 'ABOUT_US_LABELS.HISTORY' | translate }}
</div>

<!--  <div class="grid">-->
<!--    <p-card class="col-4">-->
<!--      <div class="grid">-->
<!--        <div class="p-col-6 p-3">-->
<!--          <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--        </div>-->
<!--        <div class="p-col-6 name">-->
<!--          <div class="p-col-6 first-name">-->
<!--            <strong>-->
<!--              <i>-->
<!--                Lissete López-->
<!--              </i>-->
<!--            </strong>-->
<!--          </div>-->
<!--          <div class="p-col-6 last-name">-->
<!--            <i>-->
<!--               Hernández-->
<!--            </i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </p-card>-->

<!--    <p-card class="col-4">-->
<!--      <div class="grid">-->
<!--        <div class="p-col-6 p-3">-->
<!--          <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--        </div>-->
<!--        <div class="p-col-6 name">-->
<!--          <div class="p-col-6 first-name">-->
<!--            <strong>-->
<!--              <i>-->
<!--                Alberto Palacios-->
<!--              </i>-->
<!--            </strong>-->
<!--          </div>-->
<!--          <div class="p-col-6 last-name">-->
<!--            <i>-->
<!--              Cabrera-->
<!--            </i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </p-card>-->

<!--    <p-card class="col-4">-->
<!--        <div class="grid">-->
<!--          <div class="p-col-6 p-3">-->
<!--            <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--          </div>-->
<!--          <div class="p-col-6 name">-->
<!--            <div class="p-col-6 first-name">-->
<!--            <strong>-->
<!--              <i>-->
<!--              Mario Daniel-->
<!--              </i>-->
<!--            </strong>-->
<!--            </div>-->
<!--            <div class="p-col-6 last-name">-->
<!--              <i>-->
<!--            Pérez Priego-->
<!--              </i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </p-card>-->
<!--  </div>-->


<!--<div class="background grid">-->
<!--  <div class="big_title text-center col-6">-->
<!--    Desarrolladores-->
<!--  </div>-->


<!--    <div class="col-6 m-2">-->
<!--      <p-card class="col-4">-->
<!--        <div class="grid">-->
<!--          <div class="p-col-6 p-3">-->
<!--            <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--          </div>-->
<!--          <div class="p-col-6 name">-->
<!--            <div class="p-col-6 first-name">-->
<!--              <strong>-->
<!--                <i>-->
<!--                  Lissete López-->
<!--                </i>-->
<!--              </strong>-->
<!--            </div>-->
<!--            <div class="p-col-6 last-name">-->
<!--              <i>-->
<!--                Hernández-->
<!--              </i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </p-card>-->

<!--      <p-card class="col-4">-->
<!--        <div class="grid">-->
<!--          <div class="p-col-6 p-3">-->
<!--            <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--          </div>-->
<!--          <div class="p-col-6 name">-->
<!--            <div class="p-col-6 first-name">-->
<!--              <strong>-->
<!--                <i>-->
<!--                  Alberto Palacios-->
<!--                </i>-->
<!--              </strong>-->
<!--            </div>-->
<!--            <div class="p-col-6 last-name">-->
<!--              <i>-->
<!--                Cabrera-->
<!--              </i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </p-card>-->

<!--      <p-card class="col-4">-->
<!--        <div class="grid">-->
<!--          <div class="p-col-6 p-3">-->
<!--            <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">-->
<!--          </div>-->
<!--          <div class="p-col-6 name">-->
<!--            <div class="p-col-6 first-name">-->
<!--              <strong>-->
<!--                <i>-->
<!--                  Mario Daniel-->
<!--                </i>-->
<!--              </strong>-->
<!--            </div>-->
<!--            <div class="p-col-6 last-name">-->
<!--              <i>-->
<!--                Pérez Priego-->
<!--              </i>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </p-card>-->
<!--    </div>-->
<!--  </div>-->

<div class="background">
  <div class="grid">
    <div class="col-6">
            <p-card class="col-4">
              <div class="grid">
                <div class="p-col-6 p-3">
                  <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
                </div>
                <div class="p-col-6 name">
                  <div class="p-col-6 first-name">
                    <strong>
                      <i>
                        Lissete López
                      </i>
                    </strong>
                  </div>
                  <div class="p-col-6 last-name">
                    <i>
                      Hernández
                    </i>
                  </div>
                </div>
              </div>
            </p-card>

      <p-card class="col-4">
              <div class="grid">
                <div class="p-col-6 p-3">
                  <img src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;" alt="">
                </div>
                <div class="p-col-6 name">
                  <div class="p-col-6 first-name">
                    <strong>
                      <i>
                        Lissete López
                      </i>
                    </strong>
                  </div>
                  <div class="p-col-6 last-name">
                    <i>
                      Hernández
                    </i>
                  </div>
                </div>
              </div>
            </p-card>

      <p-card class="col-4">
        <div class="grid">
          <div class="p-col-6 p-3">
            <img alt="" src="assets/home-images/pingu.jpg" style="border-radius: 50%; width: 100px; height: 100px;">
          </div>
          <div class="p-col-6 name">
            <div class="p-col-6 first-name">
              <strong>
                <i>
                  Lissete López
                </i>
              </strong>
            </div>
            <div class="p-col-6 last-name">
              <i>
                Hernández
              </i>
            </div>
          </div>
        </div>
      </p-card>

    </div>
    <div class="col-6">
      Desarrolladores
    </div>
  </div>
</div>
