
:host ::ng-deep .p-divider-content{
  font-size: 1.7rem;
  padding: 30px;
  font-style: oblique;
  letter-spacing: 1.5px;
}

:host ::ng-deep .p-divider-{
  margin-top: 5%;
}


.titles{
  margin-top: 5%;
}

.little_title{
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.71);
  font-weight: bold;
  margin-right:25%
}
.big_title{
  font-size: 3.5rem;
  font-weight: bold;
}

.big_title_margin{
  margin-left: 8%;
}

.description{
  margin: 5%;
  font-size: 1.5rem;
}
.name{
  font-size: 1.5rem;
  margin-left: 7%;
  margin-top: 15%;
  letter-spacing: 1.5px;
}

.first-name{
  padding-bottom:10%;
  //background-color: #685ab7;
  //transform: skew(-15deg);
}
.last-name{
  padding-bottom: 20%;
  padding-left:1.2%;
}

.name:hover{
  color: #c1e9ee;
}

.p-card>:hover{
  background-color: #685ab7;
  transform: skew(-15deg);
  transition: 0.5s;
}

.characters-style{
 max-width: 200px;
  border-radius: 20%;
}


