<h1 class="text-center ">
    <span class="big_title title">
  {{ 'ABOUT_US_LABELS.PROJECT_NAME' | translate }}
  </span>
</h1>
<div class="description text-center">
  {{ 'ABOUT_US_LABELS.HISTORY' | translate }}
</div>

<div class="little_title text-center pb-8">
  {{ 'ABOUT_US_LABELS.TEAM' | translate }}
</div>


<div class="flex md:flex-row  flex-wrap justify-content-center text-center">
  <div class="card-container text-center">
    <img alt="Oracion" class="image1 characters-style " src="assets/development-team/Liss.svg">
    <p class="name">
      Lissete López Hernández
    </p>
  </div>
  <div class="card-container text-center"></div>
  <div class="card-container">
    <img alt="team member" class="characters-style" src="assets/development-team/Beto.svg">
    <p class="name text-center">
      Alberto Palacios Cabrera
    </p>
  </div>
  <div class="card-container text-center"></div>
  <div class="card-container">
    <img alt="team member" class="characters-style" src="assets/development-team/Mario.svg">
    <p class="name text-center">
      Mario Daniel Pérez Priego
    </p>
  </div>

</div>


