.big_title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 5%;
}

.description {
  margin: 5%;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.little_title {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.71);
  font-weight: normal;
}

.card-container {
  border-color: #f5f5f5;
  border-width: 2px;
  border-style: solid;
  margin: 15px;
  padding-top: 15px;
  border-radius: 3px;
}

@media screen and (min-width: 1122px) {
  .card-container {
    transform: skewY(-10deg);
  }
}

.card-container:hover {
  animation: scaling 0.5s forwards;
  cursor: pointer;
}

:host-context(.dark-theme-gradient) {
  .card-container {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }

  .card-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -20px 10px rgba(0, 0, 0, 0.0);
  }
}

:host-context(.light-theme-gradient) {
  .card-container {
    box-shadow: -10px 10px rgba(255, 255, 255, 0.5);
  }

  .card-container:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -15px 10px rgba(255, 255, 255, 0.0);
  }
}

.name {
  font-size: 1.5rem;
  margin-left: 7%;
  margin-top: 15%;
  letter-spacing: 1.9px;
}

.name:hover {
  cursor: auto;
}

.characters-style {
  max-width: 200px;
  border-radius: 20%;
}

@keyframes scaling {
  to {
    transform: scale(1.2);
  }
}

.image {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100vw;
  margin: -20px 0 0 -20px;
}

:host-context(.light-theme-gradient) {
  color: white;
  text-shadow: 2px 2px 7px #868181;
  letter-spacing: 1.5px;
}






